html {
  box-sizing: border-box;
  width: 400px;
  margin: 5px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#shop-list,
#shop-add {
  display: flex;
  flex-wrap: wrap;
  background: #cfe3eb;
  /* background: #f7d6b7; */
  border: 1px solid #eee;
  padding: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

.item-row,
.item-name,
.item-del,
.item-ok,
#shop-item,
#shop-add-btn {
  box-sizing: border-box;
  border: 0;
}
.item-name,
#shop-item {
  background: #fff;
  padding: 10px;
}
.item-del,
.item-ok,
#shop-add-btn {
  cursor: pointer;
  color: white;
}

/* SHOPPING LIST */
.item-row {
  display: flex;
  width: 100%;
  margin: 5px 0;
}
.item-name {
  width: 60%;
}
.item-name.item-got {
  background: blanchedalmond#f5fffa;
}
.item-name.item-got:before {
  content: "\02713";
  margin-right: 5px;
  font-weight: bold;
  color: #19d14a;
}

.item-del,
.item-ok {
  width: 20%;
  height: 41px;
}
.item-del {
  background: #de1919;
}
.item-ok {
  background: #5a75d6;
}

/* ADD ITEM */
#shop-item {
  width: 75%;
}
#shop-add-btn {
  width: 25%;
  background: #5a75d6;
}

h1 {
  display: flex;
  font-style: italic;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  justify-content: center;
  color: #2369b5;
}

h3 {
  font-style: italic;
  display: flex;
  justify-content: center;
  color: #52b4bf;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  padding-top: 10px;
}

.calculator {
 margin-top: 15px;   
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    "scn scn"
    "calc calc";
}

.calculator-screen {
  display: grid;
  grid-area: scn;
  width: 380px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(130, 132, 209);
  border-color: rgb(11, 11, 228);
  border-radius: 5px;
  text-align: right;
  font-size: 3rem;
  color: azure;
}

.calculator-keys {  
  margin-top: 5px;  
  grid-gap: 3px;
  padding: 3px;
  grid-area: calc;
  display: grid;
  height: 130px;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-areas:
    "row1 row1 row1 row1"
    "row2 row2 row2 row2"
    "row3 row3 row3 row3"
    "row4 row4 row4 row4"
    "row5 row5 row5 row5";
}

#equal-sign {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
  border-radius: 5px;
  background-color: #2e86c0;
  color: white;
}

.all-clear {
  background-color: #f0595f;
  color:white;
}

.operator {
    color: #0e8ef0;
  }

#equal-sign{
    position: relative;
}
#equal-sign:active{
    top: 2px;
}

